 
<%= error_messages_for(@post) %>

 <table summary="Share form fields">
	<tr>
		<th><%= f.label(:title, "Title")%></th>
		<td><%= f.text_field(:title)%></td>
	</tr>
	<tr>
		<th><%= f.label(:body, "Body")%></th>
		<td><%= f.text_field(:body)%></td>
	</tr>		
</table>
